{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<section class="hero">
  <h1>د کورس مدیریت سیسټم ته ښه راغلاست</h1>
  <p>د زده‌کړې او مدیریت لپاره یو اسانه او عصري سیسټم</p>
</section>

<section class="testimonials">
  <h2>د کارونکو نظرونه</h2>
  <div class="testimonial-grid">
    <div class="testimonial">
      <p>"دا سیسټم زما د تدریس تجربه ښه کړه!"</p>
      <h4>- استاد احمد</h4>
    </div>
    <div class="testimonial">
      <p>"د کورنۍ دندو سپارل اوس اسانه دي."</p>
      <h4>- شاګرد فاطمه</h4>
    </div>
  </div>
</section>
{% endblock %}
